/*
==========================================================================
Start: Generic
==========================================================================
*/

body {
    font-family: "Source Sans Pro", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #58666e;
    overflow-x: hidden;
    background-color: #f0f3f4;
    font-size: 14px;
    line-height: 1.42857143;
}

header {
    width: 100%;
    height: 100px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #58666e;
}

a {
    color: #58666e;
}

a:hover {
    color: #58666e;
    text-decoration: none;
}

a:active,
a:focus {
    color: #58666e;
    text-decoration: none;
}

a div i small {
    font-family: "Source Sans Pro", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1d202a !important;
    font-size: 14px;
}

div.container-nav {
    padding: 15px 10px;
}

div.container {
    padding: 15px 25px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0 !important;
    -webkit-appearance: none;
}

@media (min-width: 1200px) {
    .container {
        width: 90% !important;
    }
}

@media (min-width: 992px) {
    .container {
        width: 90% !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 90% !important;
    }
}

/*
==========================================================================
End: Generic
==========================================================================
*/

/*
==========================================================================
Start: Navbar
==========================================================================
*/

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-indent {
    text-indent: 0;
}

.nav-sm-btn {
    height: 100px;
    width: 100%;
    padding: 35px 25px 35px 35px;
    color: #ffffff;
}

.breadcrumb-nav {
    height: 50px;
    width: 100%;
    padding: 10px 40px 15px 35px;
    color: #58666e;
    border-bottom: 1px solid #e0dfdf;
}

.nav-btn {
    height: 100px;
    width: 100%;
    color: #b1b1b1;
}

.nav-btn-header {
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 25px;
}

.nav-btn-text {
    margin-bottom: 0;
    line-height: 1.3;
    padding-top: 5px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 0;
    height: 100%;
    margin-left: 0;
    overflow-y: auto;
    background: #3a3f51;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 0;
    line-height: 100px;
    height: 100px;
    text-align: center;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a > div:hover {
    text-decoration: none;
    color: #ffffff;
    background: #2a2d3a;
    border-left: 3px solid #23b7e5;
    text-indent: -3px;
}

.sidebar-nav li a > div:active,
.sidebar-nav li a > div:focus {
    text-decoration: none;
    color: #ffffff;
    background: black;
    border-left: 3px solid #23b7e5;
    text-indent: -3px;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 100px;
    height: 100px;
    background-color: #23b7e5;
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.navbar-link:active {
    color: #ffffff;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        padding: 0;
    }
}

/*
==========================================================================
End: Navbar
==========================================================================
*/

/*
==========================================================================
Start: Buttons
==========================================================================
*/

.btn-default,
.btn-default:focus,
.btn-default:hover,
.btn-default:active {
    background-color: transparent !important;
    border-color: transparent;
    border-radius: 0;
    color: #e0b921 !important;
}

.round-btn,
.round-btn:focus,
.round-btn:hover,
.round-btn:active {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    margin-right: 5px;
    font-size: 11px;
    line-height: 1.428571429;
    border-radius: 15px;
    color: #ffffff;
}

.primary-btn,
.primary-btn:focus {
    display: inline-block;
    margin: 15px 5px 15px 0;
    border-radius: 0;
    font-family: inherit;
    font-size: 15px;
    padding: 8px 20px;
    border: 0;
    background: #23b7e5;
    color: #FFF;
    cursor: pointer;
    outline: 0;
    text-decoration: none !important;
}

.primary-btn:hover,
.primary-btn:active {
    background: #21a6d0;
    color: #ffffff;
    text-decoration: none !important;
}

.edit-btn,
.edit-btn:focus {
    display: inline-block;
    margin: 15px 5px 15px 0;
    border-radius: 0;
    font-family: inherit;
    font-size: 15px;
    padding: 8px 20px;
    border: 0;
    background: #5d5e63;
    color: #FFF;
    cursor: pointer;
    outline: 0;
    text-decoration: none !important;
}

.edit-btn:hover {
    background: #3a3b3e;
    color: #ffffff;
    text-decoration: none !important;
}

.edit-btn:active {
    background: #3a3b3e;
    color: #ffffff;
    text-decoration: none !important;
}

.delete-btn,
.delete-btn:focus {
    display: inline-block;
    margin: 15px 5px 15px 0;
    border-radius: 0;
    font-family: inherit;
    font-size: 15px;
    padding: 8px 20px;
    border: 0;
    background: #eb4957;
    color: #FFF;
    cursor: pointer;
    outline: 0;
    text-decoration: none !important;
}

.delete-btn:hover {
    background: #d03d4a;
    color: #ffffff;
    text-decoration: none !important;
}

.delete-btn:active {
    background: #d03d4a;
    color: #ffffff;
    text-decoration: none !important;
}

.border-btn,
.border-btn:focus {
    display: inline-block;
    margin: 15px 5px 15px 0;
    border-radius: 0;
    font-family: inherit;
    font-size: 15px;
    padding: 5px 20px;
    background: transparent;
    color: inherit;
    cursor: pointer;
    outline: 0;
    border: 3px solid #f9d21a;
    text-decoration: none !important;
}

.border-btn:hover {
    background: transparent;
    color: inherit;
    border: 3px solid #e2c22f;
    text-decoration: none !important;
}

.border-btn:active {
    background: transparent;
    color: inherit;
    border: 3px solid #e2c22f;
    text-decoration: none !important;
}

.label-primary {
    background-color: #23b7e5;
}

/*
==========================================================================
End: Buttons
==========================================================================
*/

/*
==========================================================================
Start: Colors, Text, Padding, Margins
==========================================================================
*/

.h-2 {
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.h-3 {
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.h-4-1 {
    height: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.h-5-1 {
    height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.t-1-small {
    height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.t-1 {
    height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.t-3 {
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.t-5 {
    height: 120px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.t-s-10 {
    font-size: 10px;
}

.t-c-red {
    color: #eb4957;
}

.t-c-white {
    color: #ffffff;
}

.t-c-yellow {
    color: #e0b921;
}

.t-c-black {
    color: #1d202a;
}

.t-c-purple {
    color: #6254b2;
}

.t-c-blue {
    color: #23b7e5;
}

.c-black {
    background-color: #3a3f51;
}

.c-grey {
    background-color: #51576f;
}

.c-darkgrey {
    background-color: #3a3f51;
}

.c-lightgrey {
    background-color: #f7f7f7;
}

.c-white {
    background-color: #ffffff;
}

.c-yellow {
    background-color: #f9d21a;
}

.c-red {
    background-color: #ee3939;
}

.c-blue {
    background-color: #23b7e5;
}

.c-purple {
    background-color: #6254b2;
}

.p-l-8 {
    padding-left: 8px;
}

/*
==========================================================================
Start: Cards
==========================================================================
*/

.pulse-hover:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.avatar-white {
    height: 100px;
    width: 200px;
    background-color: #ffffff;
    display: inline-block;
    padding-top: 15px;
}

.avatar-img {
    height: 80px;
    width: 200px;
    background-color: #ffffff;
    display: inline-block;
    padding-top: 15px;
}

.content-card {
    position: relative;
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.list-content-card {
    position: relative;
    background: #fff;
    margin-top: 15px;
    margin-bottom: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
    padding: 15px 15px 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.black-content-card {
    position: relative;
    background: #2f2f2f;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.clear-content-card {
    position: relative;
    background: transparent;
    color: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.white-content-card {
    position: relative;
    background: #ffffff;
    color: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.content-card-header {
    position: relative;
    background: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.card {
    position: relative;
    background: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 0;
    height: 275px;
    max-height: 275px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.card.hovercard .cardheader {
    background-size: cover;
    height: 65px;
}

.card.hovercard .avatar {
    position: relative;
    top: -45px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    margin-bottom: 60px;
}

.card.hovercard .info {
    padding: 0 8px 10px;
    margin-top: -40px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    margin-top: 5px;
    font-size: 24px;
    line-height: 1;
    vertical-align: middle;
}

.card.hovercard .info .title a {
    text-decoration: none;
    color: #58666e;
}

.card.hovercard .info .title a:hover {
    text-decoration: none;
    color: #58666e;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
}

.adm-card {
    position: relative;
    background: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 0;
    height: 230px;
    max-height: 230px;
}

.card .card-header {
    position: relative;
    display: block;
    padding: 15px 15px;
    border-radius: 0 0 0 0;
}

.card-body.card-padding {
    position: relative;
    padding: 15px;
}

.card-heading {
    display: block;
    width: 100%;
    height: 110px;
    max-height: 110px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    color: #ffffff;
}

.card-heading-img {
    display: block;
    width: 100%;
    height: 100px;
    max-height: 100px;
    padding-left: 0;
    padding-right: 15px;
    padding-top: 0;
    color: #4D545D;
}

.img-card {
    position: relative;
    background: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 0;
    height: 280px;
    max-height: 280px;
}

.adm-img-card {
    position: relative;
    background: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 0;
    height: 310px;
    max-height: 310px;
}

.video-card {
    position: relative;
    background: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 10px;
    height: 100%;
    width: 100%;
}

.img-card-footer {
    padding: 4px 10px;
}

.video-card-footer {
    padding: 4px 10px;
}

.adm-card-footer {
    position: relative;
    padding: 4px 15px;
    width: 100%;
    background-color: #ffffff;
    margin-top: 10px;
}

/*
==========================================================================
End: Cards
==========================================================================
*/

/*
==========================================================================
Start: Forms
==========================================================================
*/

label {
    color: #3b3f52 !important;
    font-size: 15px !important;
}

.red-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #1d202a;
    background: transparent none;
    border: 0 solid #ccc;
    border-bottom: 1px solid #eb4957;
    border-radius: 0;
}

.black-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #292c3a;
    background: transparent none;
    border: 0 solid #ccc;
    border-bottom: 1px solid #aeb1bb;
    border-radius: 0;
}

.black-form-control:focus {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #292c3a;
    background: transparent none;
    border: 0 solid #ccc;
    border-radius: 0;
    border-bottom: 1px solid #21a6d0;
    -webkit-transition: border-bottom ease-in-out .45s;
    -o-transition: border-bottom ease-in-out .45s;
    transition: border-bottom ease-in-out .45s;
}

.post-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #1d202a;
    background: transparent none;
    border: 0 solid #ccc;
    border-bottom: 5px solid #ffffff;
    border-radius: 0;
}

.post-form-control:focus {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #1d202a;
    background: transparent none;
    border: 0 solid #ccc;
    border-radius: 0;
    border-bottom: 5px solid #ffffff;
    -webkit-transition: border-bottom ease-in-out .45s;
    -o-transition: border-bottom ease-in-out .45s;
    transition: border-bottom ease-in-out .45s;
}

textarea.red-form-control {
    height: auto;
}

textarea.black-form-control {
    height: auto;
    resize: none;
}

textarea.black-form-control:focus {
    height: auto;
}

textarea.post-form-control {
    height: auto;
}

textarea.post-form-control:focus {
    height: auto;
}

input[type="password"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #292c3a;
    background: transparent none;
    border: 0 solid #ccc;
    border-bottom: 1px solid #aeb1bb;
    border-radius: 0;
}

input[type="password"]:focus {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #292c3a;
    background: transparent none;
    border: 0 solid #ccc;
    border-radius: 0;
    border-bottom: 1px solid #21a6d0;
    -webkit-transition: border-bottom ease-in-out .45s;
    -o-transition: border-bottom ease-in-out .45s;
    transition: border-bottom ease-in-out .45s;
}

select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #292c3a;
    background: transparent none;
    border: 0 solid #ccc;
    border-bottom: 1px solid #aeb1bb;
    border-radius: 0;
    -webkit-appearance: inherit;
}

/*
==========================================================================
Start: Tabs
==========================================================================
*/

div ul li label {
    display: inline-block;
    max-width: 150%;
    margin-bottom: 5px;
    margin-right: 20px;
    font-weight: bold;
    margin-left: -20px;
}

.tabs {
    width: 100%;
    float: none;
    list-style: none;
    position: relative;
    margin: 15px 0 0 0;
}

.tabs li {
    float: left;
    display: block;
}

.tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs label {
    display: block;
    padding: 8px 20px;
    border-radius: 0;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 4px;
    border: 3px solid transparent;
}

.tabs-label {
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #333
}

.tabs [id^="tab"]:checked {
    color: inherit;
    padding: 25px;
}

.tabs label:hover {
    background: transparent;
}

.tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: inherit;
    line-height: 25px;
    padding: 25px 0 25px 0;
    position: absolute;
    top: 40px;
    left: 0;
    background: transparent;
    margin-bottom: 15px;
}

.dash-line {
    border-top: 1px dashed #8f93a5;
    margin-left:20px;
    margin-right: 20px;
}

.tabs [id^="tab"]:checked + label {
    border: 3px solid #51576f;
    color: inherit;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}

/*
==========================================================================
End: Tabs
==========================================================================
*/

/*
==========================================================================
Start: Comments
==========================================================================
*/

.chat-card {
    position: relative;
    background: transparent;
    margin-bottom: 30px;
    border-radius: 0;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 5px;
    width: 100%;
    position: relative;
    background: #fff;
    margin-top: 5px;
    border-radius: 0;
    height: 100%;
    padding: 15px 15px 10px;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.body-panel {
    overflow-y: scroll;
    height: auto;
    max-height: 250px;
}

.chat-footer {
    position: relative;
    background: transparent;
    margin-top: 0;
    margin-bottom: 60px;
    border-radius: 0;
}

/*
==========================================================================
End: Comments
==========================================================================
*/

/*
==========================================================================
Start: Search
==========================================================================
*/

#custom-search-input{
    padding: 0;
    border: solid 0 transparent;
    border-radius: 0;
    background-color: #fff;
    margin: 0;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 0 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

/*
==========================================================================
End: Search
==========================================================================
*/

/*
==========================================================================
Start: CKEditor
==========================================================================
*/

.cke_chrome {
    display: block;
    border: 0 solid transparent !important;
    padding: 0;
}

.cke_top {
    border-bottom: 1px solid #e0dfdf !important;
    background: #f7f7f7 !important;
    padding: 6px 8px 2px;
    white-space: normal;
}

.cke_bottom {
    padding: 6px 8px 2px;
    position: relative;
    border-top: 0 solid transparent !important;
    background: #ffffff !important;
}

/*
==========================================================================
End: CKEditor
==========================================================================
*/

