/*
==========================================================================
Body and Header Start
==========================================================================
*/

body {
    color: #4D545D;
    overflow-x: hidden;
    background-color: #eaeaea;
}

header {
    width: 100%;
    height: 100px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}

a {
    color: #333333;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

a:active,
a:focus {
    color: #333333;
    text-decoration: none;
}

/*
==========================================================================
Body and Header End
==========================================================================
*/

/*
Navbar
 */

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-indent {
    text-indent: 0px;
}

.nav-sm-btn {
    height: 100px;
    width: 100%;
    padding: 35px 35px;
    color: #e0b921;

}

.nav-btn {
    height: 100px;
    width: 100%;
    color: #b1b1b1;
}

.nav-btn-header {
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 25px;
}

.nav-btn-text {
    margin-bottom: 0;
    line-height: 1.3;
    padding-top: 5px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0px;
    width: 0;
    height: 100%;
    margin-left: 0;
    overflow-y: auto;
    background: #1d202a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 0px;
    line-height: 100px;
    height: 100px;
    text-align: center;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a > div:hover {
    text-decoration: none;
    color: #ffffff;
    background: black;
    border-left: 3px solid #eb4957;
    text-indent: -3px;

}

.sidebar-nav li a > div:active,
.sidebar-nav li a > div:focus {
    text-decoration: none;
    color: #ffffff;
    background: black;
    border-left: 3px solid #eb4957;
    text-indent: -3px;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 100px;
    height: 100px;
    background-color: #eb4957;
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        padding: 0px;
    }
}

/*
Navbar End
 */

div.container-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

div.container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.avatar-white {
    height: 100px;
    width: 200px;
    background-color: #ffffff;
    display: inline-block;
    padding-top: 15px;
}

.avatar-img {
    height: 80px;
    width: 200px;
    background-color: #ffffff;
    display: inline-block;
    padding-top: 15px;
}

.btn-default,
.btn-default:focus,
.btn-default:hover,
.btn-default:active {
    background-color: transparent !important;
    border-color: transparent;
    border-radius: 0px;
    color: #e0b921 !important;
}

.primary-btn,
.primary-btn:focus {
    display: inline-block;
    margin: 15px 5px;
    margin-left: 0px;
    border-radius: 6px;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 20px;
    border: 0;
    background: #e0b921;
    color: #FFF;
    cursor: pointer;
    outline: 0;
    text-decoration: none !important;
}

.primary-btn:hover {
    background: #bb9b1e;
    color: #ffffff;
    text-decoration: none !important;
}

.primary-btn:active {
    background: #bb9b1e;
    color: #ffffff;
    text-decoration: none !important;
}

.edit-btn,
.edit-btn:focus {
    display: inline-block;
    margin: 15px 5px;
    margin-left: 0px;
    border-radius: 6px;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 20px;
    border: 0;
    background: #5d5e63;
    color: #FFF;
    cursor: pointer;
    outline: 0;
    text-decoration: none !important;
}

.edit-btn:hover {
    background: #3a3b3e;
    color: #ffffff;
    text-decoration: none !important;
}

.edit-btn:active {
    background: #3a3b3e;
    color: #ffffff;
    text-decoration: none !important;
}

.delete-btn,
.delete-btn:focus {
    display: inline-block;
    margin: 15px 5px;
    margin-left: 0px;
    border-radius: 6px;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 20px;
    border: 0;
    background: #eb4957;
    color: #FFF;
    cursor: pointer;
    outline: 0;
    text-decoration: none !important;
}

.delete-btn:hover {
    background: #d03d4a;
    color: #ffffff;
    text-decoration: none !important;
}

.delete-btn:active {
    background: #d03d4a;
    color: #ffffff;
    text-decoration: none !important;
}

.border-btn,
.border-btn:focus {
    display: inline-block;
    margin: 15px 5px;
    margin-left: 0px;
    border-radius: 6px;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
    border: 0;
    background: transparent;
    color: inherit;
    cursor: pointer;
    outline: 0;
    border: 3px solid #e0b921;
    text-decoration: none !important;
}

.border-btn:hover {
    background: transparent;
    color: inherit;
    text-decoration: none;
    border: 3px solid #bb9b1e;
    text-decoration: none !important;
}

.border-btn:active {
    background: transparent;
    color: inherit;
    text-decoration: none;
    border-: 3px solid #bb9b1e;
    text-decoration: none !important;
}

.t-c-red {
    color: #eb4957;
}

.t-c-white {
    color: #ffffff;
}

.t-c-yellow {
    color: #e0b921;
}

.t-c-black {
    color: #1d202a;
}

.c-black {
    background-color: #1d202a;
}

.c-white {
    background-color: #ffffff;
}

.c-yellow {
    background-color: #e0b921;
}

.navbar-link:active {
    color: #ffffff;
}

a div i small {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    color: #1d202a !important;
    font-size: 14px;
}

/*
==========================================================================
Cards Start
==========================================================================
*/

.content-card {
    position: relative;
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.black-content-card {
    position: relative;
    background: #2f2f2f;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0px;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.clear-content-card {
    position: relative;
    background: transparent;
    color: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0px;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.white-content-card {
    position: relative;
    background: #ffffff;
    color: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0px;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content-card-header {
    position: relative;
    background: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.card {
    position: relative;
    background: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 6px;
    height: 275px;
    max-height: 275px;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
}

.card.hovercard .cardheader {
    background-size: cover;
    height: 65px;
}

.card.hovercard .avatar {
    position: relative;
    top: -45px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    margin-bottom: 60px;
}

.card.hovercard .info {
    padding: 0px 8px 10px;
    margin-top: -40px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    margin-top: 4.5px;
    font-size: 24px;
    line-height: 1;
    vertical-align: middle;
}

.card.hovercard .info .title a {
    text-decoration: none;
    color: #333;
}

.card.hovercard .info .title a:hover {
    text-decoration: none;
    color: #333;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
}

.adm-card {
    position: relative;
    background: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 0px;
    height: 230px;
    max-height: 230px;
}

.card .card-header {
    position: relative;
    display: block;
    padding: 15px 15px;
    border-radius: 0px 0px 0 0;
}

.card-body.card-padding {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-heading {
    display: block;
    width: 100%;
    height: 110px;
    max-height: 110px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    color: #ffffff;
}

.card-heading-img {
    display: block;
    width: 100%;
    height: 100px;
    max-height: 100px;
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 0px;
    color: #4D545D;
}

.img-card {
    position: relative;
    background: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 0px;
    height: 280px;
    max-height: 280px;
}

.adm-img-card {
    position: relative;
    background: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 0px;
    height: 310px;
    max-height: 310px;
}

.video-card {
    position: relative;
    background: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 10px;
    height: 100%;
    width: 100%;
}

.img-card-footer {
    padding: 4px 10px;
}

.video-card-footer {
    padding: 4px 10px;
}

.adm-card-footer {
    position: relative;
    padding: 4px 15px;
    width: 100%;
    background-color: #ffffff;
    margin-top: 10px;
}

/*
==========================================================================
Cards End
==========================================================================
*/

.h-2 {
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.h-3 {
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.h-4-1 {
    height: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.t-1-small {
    height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.t-1 {
    height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.t-3 {
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.t-5 {
    height: 120px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.p-l-8 {
    padding-left: 8px;
}

.pulse-hover:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.red-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #1d202a;
    background-color: transparent;
    background-image: none;
    border: 0px solid #ccc;
    border-bottom: 1px solid #eb4957;
    border-radius: 0px;
}

.black-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #1d202a;
    background-color: transparent;
    background-image: none;
    border: 0px solid #ccc;
    border-bottom: 1px solid #1d202a;
    border-radius: 0px;
}

.black-form-control:focus {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #1d202a;
    background-color: transparent;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0px;
    border-bottom: 1px solid #e0b921;
    -webkit-transition: border-bottom ease-in-out .45s;
    -o-transition: border-bottom ease-in-out .45s;
    transition: border-bottom ease-in-out .45s;
}

.search-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border: 0px solid #ccc;
    border-bottom: 1px solid #e0b921;
    border-radius: 0px;
}

.tabs-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-style: inherit;

}

textarea.red-form-control {
    height: auto;
}

textarea.black-form-control {
    height: auto;
}

textarea.black-form-control:focus {
    height: auto;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
}

/*
Tabs
 */

.tabs {
    width: 100%;
    float: none;
    list-style: none;
    position: relative;
    margin: 15px 0 0 0px;
}

.tabs li {
    float: left;
    display: block;
}

.tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs label {
    display: block;
    padding: 14px 21px;
    width: 150px;
    border-radius: 2px 2px 0 0;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 4px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-left: -20px;
}

.tabs-label {
    margin-left: -20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #333
}

.tabs [id^="tab"]:checked {
    color: inherit;
    -moz-transition: all 2.2s ease-in-out;
    -o-transition: all 2.2s ease-in-out;
    -webkit-transition: all 2.2s ease-in-out;
    transition: all 2.2s ease-in-out;
    padding: 25px;
}

.tabs label:hover {
    background: transparent;
}

.tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: inherit;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 53px;
    left: 0;
    background: #e2e2e2;
    margin-bottom: 15px;
}

.tabs [id^="tab"]:checked + label {
    background: #e2e2e2;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}

/*
Tabs End
 */